/* .card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
}
.card{
  background-color: #000;
}
.hits {
  background-color: rgb(113, 230, 113);
  border-radius: 10px;
}
.floop {
  background-color: rgb(250, 250, 35);
}
.Rating {
  padding: 0.2rem 1.1rem;
  color: #000;
  margin-left: 0.2rem;
  border-radius: 50rem;

}
.rates{
  font-weight: bolder;
  font-size: larger;
}
a{
  text-decoration: none;
} */